<h2>Events Hosted by <%= @user.name %></h2>
<% if @user.created_events.empty? %>
  <%= "This user has no events!" %>
<% else %>
  <table>
    <tr>
      <th>Event Name</th>
      <th>Location</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @user.created_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.event_time %></td>
        <td><%= link_to "Show Event Details", event_path(event) %></td>
        <td><%= link_to "Edit Event", edit_event_path(event) %></td>
        <td><%= link_to "Delete Event", event_path(event), method: :delete, data: {confirm: "Are you sure"} %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2>Events attended by <%= @user.name %></h2>
<% if @user.attended_events.empty? %>
  <%= "This user is going to no events!" %>
<% else %>
  <table>
    <tr>
      <th>Event Name</th>
      <th>Location</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @user.attended_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.event_time %></td>
        <td><%= link_to "Show Event Details", event_path(event) %></td>
        <td><%= link_to "Edit Event", edit_event_path(event) %></td>
        <td><%= link_to "Leave Event", event_attending_path(id: @user.event_attendings.ids), method: :delete, data: {confirm: "Are you sure"} %></td>
      </tr>
    <% end %>
  </table>
<% end %>
