<h1><%= @event.name %> Details</h1>

<table>
  <tr>
    <th>Event Name</th>
    <th>Location</th>
    <th>Time and Date</th>
    <th>Host</th>
    <th></th>
  </tr>
    <tr>
      <td><%= @event.name %></td>
      <td><%= @event.location %></td>
      <td><%= @event.event_time %></td>
      <td><%= link_to User.find_by(id: @event.creator_id).name, user_path(User.find_by(id: @event.creator_id)) %></td>
    </tr>
</table>

<p><%= link_to "Join Event", new_event_attending_path(id: @event.id) %></p>
<p><%= link_to "Leave Event", event_attending_path(id: @event.id), method: :delete, data: {confirm: "Are you sure"} %></p>

<h3>Users attending the event</h3>
<% if @event.attendees.empty? %>
  <%= "No one is going to this event!" %>
<% else %>
<ul>
  <% @event.attendees.each do |attendee| %>
  <li><%= link_to attendee.name, user_path(User.find_by(id: attendee)) %></li>
  <% end %>
</ul>
<% end %>
